<!-- Footer -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">       
        <img src="images/datos-antad.png" class="img-responsive">
    </div>
    <div class="col-md-8 col-sm-8">
		<h4></h4>
      <img src="images/socios-estrategicos.jpg" class="img-responsive">
    </div>
    
    <!-- <div class="col-md-3 col-sm-3">
      <h4>Address</h4>
      <address>
      <strong>Antad</strong><br>
      795 Las Palmas<br>
      Spain, CA 94107<br>
      <abbr title="Phone">P:</abbr> <a href="#">(123) 456-7890</a><br>
      <abbr title="Email">E:</abbr> <a href="#">mail@example.com</a><br>
      <abbr title="Website">W:</abbr> <a href="#"></a><br>
      </address>
    </div> -->
  </div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="row">
<div class="col-xs-6"> &copy; 2017 Antad All Rights Reserved </div>
<div class="col-xs-6 text-right">
<ul>
<li></li>
</ul>
</div>
</div>
</div>
</div>
</footer>

<!-- Go-top Button -->
<div id="go-top"><i class="fa fa-angle-up fa-2x"></i></div>

</body>


</html>