
<div ng-controller="hotelRoomListCtrl">
<div class=""><h3>{{hotelName}}</h3> <a href="#!/manage_hotel"><button class="btn btn-danger">Back</button></a>&nbsp;<a href="#!/add_room"><button class="btn btn-success">Add Room</button></a></div><br>
            <legend>All Rooms</legend>
            <table datatable="ng" dt-options="dtOptions" class="table table-hover">
              <thead>
                <tr>
                  <th style="text-align: center">Sr. No.</th>
                  <th style="text-align: center">Room No.</th>
                  <th style="text-align: center">Title</th>
                  <th style="text-align: center">Bed</th>
                  <th style="text-align: center">Price</th>
                  <th style="text-align: center">Available</th>
                  <th style="text-align: center">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th style="text-align: center">Sr. No.</th>
                  <th style="text-align: center">Room No.</th>
                  <th style="text-align: center">Title</th>
                  <th style="text-align: center">Bed</th>
                  <th style="text-align: center">Price</th>
                  <th style="text-align: center">Available</th>
                  <th style="text-align: center">Action</th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="room in hotelRoomList">
                  <td style="text-align: center">{{$index+1}}</td>
                  <td style="text-align: center">{{room.room_no}}</td>
                  <td style="text-align: center">{{room.room_title}}</td>
                  <td style="text-align: center">{{room.bed}}</td>
                  <td style="text-align: center">{{room.price}}</td>
                  <td style="text-align: center" ng-if="room.status == 0">Yes</td>
                  <td style="text-align: center" ng-if="room.status == 1">No</td> 
                  <td style="text-align: center"><a href="#!/room_detail/{{room.id}}"><button class="btn btn-primary"><small>Detail</small></button></a></td>
                </tr>                        
              </tbody>
            </table>

</div>

 