
<div ng-controller="hotelDetailCtrl">
<a href="#!/manage_hotel"><button class="btn btn-danger">Back</button></a><br><h3>{{hotelDetail.name}}</h3>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" name="form" ng-submit="submit()" method="post" enctype="multipart/form-data">
                <fieldset>
                  <legend></legend>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.hotel_name" name="name" id="name" placeholder="Name" required>
                             <span ng-show="form.name.$dirty && form.name.$touched && form.name.$error.required"><font color="red"><small>The Hotel name is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Description</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <textarea class="form-control" name="description" ng-model="form.hotel_decsription" rows="5" id="textArea" required>{{hotelDetail.description}}</textarea>
                             <span class="help-block"><small>A small description about your hotel.</small></span><br>
                             <span ng-show="form.description.$dirty && form.description.$touched && form.description.$error.required"><font color="red"><small>The Hotel description is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label"><strong>Features:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Internet <img src="images/ui/ico-internet.png" width="30px" title="internet"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.internet" name="internet" id="internet" ng-checked="hotelDetail.internet == '1'" value="1" >
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.internet" name="internet" id="internet" ng-checked="hotelDetail.internet == '0'" value="0" >
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Breakfast <img src="images/ui/ico-desayuno.png" width="30px" title="breakfast"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.breakfast" name="breakfast" id="breakfast" value="1" ng-checked="hotelDetail.parking == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.breakfast" name="breakfast" id="breakfast" value="0" ng-checked="hotelDetail.parking == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Parking <img src="images/ui/ico-estacionamiento.png" width="30px" title="Parking"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.parking" name="parking" id="parking" value="1" ng-checked="hotelDetail.parking == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.parking" name="parking" id="parking" value="0" ng-checked="hotelDetail.parking == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Bellboy Tips <img src="images/ui/ico-bellboys.png" width="30px" title="Bellboy Tips"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.bellboytip" name="bellboytips" id="bellboytips" value="1" ng-checked="hotelDetail.bellboys_tips == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.bellboytip" name="bellboytips" id="bellboytips" value="0" ng-checked="hotelDetail.bellboys_tips == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Tourist Information <img src="images/ui/ico-maids.png" width="30px" title="tourist information"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input ng-model="form.touristinformation" type="radio" name="touristinformation" id="touristinformation" value="1" ng-checked="hotelDetail.tourist_information == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input ng-model="form.touristinformation" type="radio" name="touristinformation" id="touristinformation" value="0" ng-checked="hotelDetail.tourist_information == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Swimming Pool <img src="images/ui/ico-alberca.png" width="30px" title="swimmingpool"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.swimmingpool" name="swimmingpool" id="swimmingpool" value="1" ng-checked="hotelDetail.swimming_pool == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.swimmingpool" name="swimmingpool" id="swimmingpool" value="0" ng-checked="hotelDetail.swimming_pool == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Fitness Center <img src="images/ui/ico-gimnasio.png" width="30px" title="fitnesscenter"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.fitnesscenter" name="fitnesscenter" id="fitnesscenter" value="1" ng-checked="hotelDetail.fitness_center == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.fitnesscenter" name="fitnesscenter" id="fitnesscenter" value="0" ng-checked="hotelDetail.fitness_center == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Security Box <img src="images/ui/ico-cajaseguridad.png" width="30px" title="security box"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.securitybox" name="securitybox" id="securitybox" value="1" ng-checked="hotelDetail.security_box == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.securitybox" name="securitybox" id="securitybox" value="0" ng-checked="hotelDetail.security_box == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Check out Time</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.checkouttime" name="checkouttime" id="checkouttime" value="24 hrs" ng-checked="hotelDetail.check_out_time == '24 hrs'">
                                      24 hrs
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.checkouttime" name="checkouttime" id="checkouttime" value="12 hrs" ng-checked="hotelDetail.check_out_time == '12 hrs'">
                                      12 hrs
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Address</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.hotel_address" name="address" id="address" placeholder="Address" required>
                             <span ng-show="form.address.$dirty && form.address.$touched && form.address.$error.required"><font color="red"><small>The Address is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">City</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" ng-model="form.hotel_city"  class="form-control" name="city" id="city" placeholder="City" required>
                             <span ng-show="form.city.$dirty && form.city.$touched && form.city.$error.required"><font color="red"><small>The City is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Country</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.hotel_country" name="country" id="country" placeholder="Country" required>
                             <span ng-show="form.country.$dirty && form.country.$touched && form.country.$error.required"><font color="red"><small>The Country is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Total Rooms</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.totalrooms" name="total_rooms" id="total_rooms" placeholder="Total Rooms"  readonly>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Available Rooms</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.availablerooms" name="available_rooms" id="available_rooms" placeholder="Available Rooms" readonly>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Logo</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <!--<input type="file" class="form-control" id="hotel_logo"  onchange="angular.element(this).scope().uploadedFile(this);" name="hotel_logo">-->
                             <input ng-model="form.hotel_logo" type="file" class="form-control input-lg" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this);" >                             
                             <img ng-src="{{image_source}}" style="width:200px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <img src="images/logos/{{hotelDetail.logo}}" width="200px" height="50px">
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Image</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">                             
                             <input ng-model="form.hotel_image" type="file" class="form-control input-lg" accept="image/*" onchange="angular.element(this).scope().uploadedFile1(this);" >                             
                             <img ng-src="{{image_source1}}" style="width:200px;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label"></label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <img src="images/hotels/{{hotelDetail.hotel_image}}" width="150px" height="100px">
                            </div>
                        </div>
                    </div> 
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Status</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <select class="form-control" ng-model="form.status" name="status" id="status">
                                
                                <option value="0">Deactivate</option>
                                <option value="1" ng-selected="hotelDetail.status == '1'">Activate</option>
                             </select>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                                    
                 
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="reset" class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
                    </div>
                  </div>
                </fieldset>
            </form>
        </div>
    </div>
 </div>   
    
</div>