
<div ng-controller="bookingCtrl">
<div class=""><h3>Manage Bookings</h3></div>
            <table datatable="ng" dt-options="dtOptions" class="table table-hover">
              <thead>
                <tr>
                  <th style="text-align: left">UserName</th>
                  <th style="text-align: center">Hotel</th>
                  <th style="text-align: center">Room No.</th>
                  <th style="text-align: center">Price</th>
                  <!--<th style="text-align: center">Features</th>-->
                  <th style="text-align: center">Check-in</th>
                  <th style="text-align: center">Check-out</th>
                  <th style="text-align: center">Id-Type</th>
                  <th style="text-align: center">Id Number</th>
                  <th style="text-align: center">Status</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th style="text-align: left">UserName</th>
                  <th style="text-align: center">Hotel</th>
                  <th style="text-align: center">Room No.</th>
                  <th style="text-align: center">Price</th>
                  <!--<th style="text-align: center">Features</th>-->
                  <th style="text-align: center">Check-in</th>
                  <th style="text-align: center">Check-out</th>
                  <th style="text-align: center">Id-Type</th>
                  <th style="text-align: center">Id Number</th>
                  <th style="text-align: center">Status</th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="booking in bookingList">
                  <td style="text-align: left">{{booking.user_id}}</td>
                  <td style="text-align: center">{{booking.name}}</td>
                  <td style="text-align: center">{{booking.room_no}}</td>
                  <td style="text-align: center">{{booking.price}}</td>                  
                  <td style="text-align: center">{{booking.check_in}}</td>
                  <td style="text-align: center">{{booking.check_out}}</td>
                  <td style="text-align: center">{{booking.identification_type}}</td>
                  <td style="text-align: center">{{booking.identification_number}}</td>
                  <td style="text-align: center" ng-if="booking.booking_status == '0'"><button class="btn btn-danger" ng-model="pending" ng-click="change_booking(booking.id,0,booking.room_id)">Pending</button></td>
                  <td style="text-align: center" ng-if="booking.booking_status == '1'"><button class="btn btn-success" ng-model="confirm" ng-click="change_booking(booking.id,1,booking.room_id)">Confirm</button></td>
                </tr>                        
              </tbody>
            </table>

</div>

 