
<div ng-controller="hotelCtrl">
<div class=""><h3>Manage Hotels</h3><a href="#!/add_hotel"><button class="btn btn-success">Add Hotel</button></a></div>
            <table datatable="ng" dt-options="dtOptions" class="table table-hover">
              <thead>
                <tr>
                  <th style="text-align: left">Name</th>
                  <th style="text-align: center">Logo</th>
                  <th style="text-align: center">Address</th>
                  <th style="text-align: center">City</th>
                  <!--<th style="text-align: center">Features</th>-->
                  <th style="text-align: center">Total Rooms</th>
                  <th style="text-align: center">Available Rooms</th>
                  <th style="text-align: center">Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th style="text-align: left">Name</th>
                  <th style="text-align: center">Logo</th>
                  <th style="text-align: center">Address</th>
                  <th style="text-align: center">City</th>
                  <!--<th style="text-align: center">Features</th>-->
                  <th style="text-align: center">Total Rooms</th>
                  <th style="text-align: center">Available Rooms</th>
                  <th style="text-align: center">Action</th>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="hotel in hotelList">
                  <td style="text-align: left">{{hotel.name}}</td>
                  <td style="text-align: center"><img src="{{site_url}}images/logos/{{hotel.logo}}" width="50px" height="30px"></td>
                  <td style="text-align: center">{{hotel.address}}</td>
                  <td style="text-align: center">{{hotel.city}}</td>
                  <!--<td style="text-align: center">
                        
                        <table border=1>
                               <thead>
                                    <tr>
                                                <th><small>BreakFast</small></th>
                                                <th><small>Internet</small></th>
                                                <th><small>Parking</small></th>
                                                <th><small>Bellboy Tips</small></th>
                                                <th><small>Tourist Information</small></th>
                                                <th><small>Swimming Pool</small></th>
                                                <th><small>Fitness Center</small></th>
                                                <th><small>Security Box</small></th>
                                                <th><small>Checkout Time</small></th>
                                    </tr>
                               </thead>
                               <tbody>
                                    <tr>
                                                <td><i class="fa fa-check-circle"></i></td>
                                                <td><i class="fa fa-times"></i></td>
                                                <td><i class="fa fa-check-circle"></td>
                                                <td><i class="fa fa-check-circle"></td>
                                                <td><i class="fa fa-check-circle"></td>
                                                <td><i class="fa fa-check-circle"></td>
                                                <td><i class="fa fa-times"></i></td>
                                                <td><i class="fa fa-times"></i></td>
                                                <td>24 hrs</td>
                                    </tr>
                               </tbody>
                        </table>
                        
                  </td>-->
                  <td style="text-align: center">{{hotel.total_rooms}}</td>
                  <td style="text-align: center">{{hotel.available_rooms}}</td>
                  <td style="text-align: center"><a href="#!/hotel_room_list/{{hotel.id}}"><button class="btn btn-success"><small>Rooms</small></button></a> <a href="#!/hotel_detail/{{hotel.id}}"><button class="btn btn-primary"><small>Detail</small></button></a></td>
                </tr>                        
              </tbody>
            </table>

</div>

 