
<div ng-controller="roomDetailCtrl">
<a href="#!/hotel_room_list/{{roomDetail.hotel_id}}"><button class="btn btn-danger">Back</button></a><br><br><h3>{{roomDetail.name}}</h3>
  <div class="container">
    <h5><center>Room No. - &nbsp;{{roomDetail.room_no}}</center></h5>
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" name="form" ng-submit="submit()" method="post" enctype="multipart/form-data">
                <fieldset>
                  <legend></legend>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Title</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.title" name="name" id="name" placeholder="Title" required>
                             <span ng-show="form.name.$dirty && form.name.$touched && form.name.$error.required"><font color="red"><small>The Room title is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Description</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <textarea class="form-control" name="description" ng-model="form.room_decsription" rows="5" id="textArea" required>{{roomDetail.description}}</textarea>
                             <span class="help-block"><small>A small description about this room.</small></span><br>
                             <span ng-show="form.description.$dirty && form.description.$touched && form.description.$error.required"><font color="red"><small>The Room description is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Price</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <input type="text" class="form-control" ng-model="form.room_price" name="price" id="price" placeholder="Price" required>
                             <span ng-show="form.price.$dirty && form.price.$touched && form.price.$error.required"><font color="red"><small>The Room price is required.</small></font></span>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Bed</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <select class="form-control" ng-model="form.bed" name="bed" id="bed">
                                <option value="1" ng-selected="roomDetail.bed == '1'">Single</option>
                                <option value="2" ng-selected="roomDetail.bed == '1'">Double</option>
                                <option value="4" ng-selected="roomDetail.bed == '4'">Large</option>
                             </select>
                            </div>
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label"><strong>Features:</strong></label>
                        </div>
                        <div class="col-sm-9">
                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">TV </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.tv" name="tv" id="tv" ng-checked="roomDetail.tv == '1'" value="1" >
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.tv" name="tv" id="tv" ng-checked="roomDetail.tv == '0'" value="0" >
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">AC </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.ac" name="ac" id="ac" value="1" ng-checked="roomDetail.ac == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.ac" name="ac" id="ac" value="0" ng-checked="roomDetail.ac == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Balcony </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.balcony" name="balcony" id="balcony" value="1" ng-checked="roomDetail.balcony == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.balcony" name="balcony" id="balcony" value="0" ng-checked="roomDetail.balcony == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Sea view </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" ng-model="form.sea_view" name="sea_view" id="sea_view" value="1" ng-checked="roomDetail.sea_view == '1'">
                                      Yes <i class="fa fa-check" aria-hidden="true"></i>
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input type="radio" ng-model="form.sea_view" name="sea_view" id="sea_view" value="0" ng-checked="roomDetail.sea_view == '0'">
                                      No <i class="fa fa-times" aria-hidden="true"></i>
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-10 control-label">Lat Bathe </label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                                <div class="radio">
                                    <label>
                                      <input ng-model="form.lat_bathe" type="radio" name="lat_bathe" id="lat_bathe" value="1" ng-checked="roomDetail.lat_bathe == '1'">
                                      Attach 
                                    </label>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <label>
                                      <input ng-model="form.lat_bathe" type="radio" name="lat_bathe" id="lat_bathe" value="0" ng-checked="roomDetail.lat_bathe == '0'">
                                      Common 
                                    </label>
                                </div>                                                        
                            </div>                            
                        </div>
                    </div>                                       
                  </div>                                                      
                  <div class="form-group">
                    <div class="row">                                                
                        <div class="col-sm-1 offset-col-sm-6">
                            <div class="col-lg-2">                             
                              <input type="button" class="btn btn-primary" id="add_more_image" value="Add More Image"/>                                                        
                            </div>
                        </div>
                    </div>
                    
                  </div>                                  
                  <div class="form-group">
                    <div class="row" ng-repeat="img in roomDetail.image">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label" style="margin-top: 20px;">Image{{$index+1}}</label>
                        </div>
                        <div class="col-sm-3">
                            <div class="col-lg-11">
                             <img src="images/rooms/{{img}}" width="150px" height="100px" style="margin-bottom:10px;">                             
                            </div>
                        </div>
                        <div class="col-sm-1">
                           <font size="5px"><input type="button" class="btn btn-danger" ng-click="remove_image(img);" value="x" style="margin-top: 20px;"/></font>
                        </div>
                        <div class="col-sm-6">
                           &nbsp;
                        </div>
                    </div> <br>                   
                  </div>
                  <div class="form-group">
                    <input type="hidden" name="img_count" id="img_count" value="{{roomDetail.image.length}}"/>
                    <div id="img_upload_section">
                      
                    </div>
                    
                    
                  </div>
                  <div class="form-group">
                    <!--<div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label"></label>
                        </div>
                        <div class="col-sm-9">                            
                            <img ng-src="{{image_source2}}" style="width:200px;">
                        </div>
                        <div class="col-sm-9">                            
                            <img ng-src="{{image_source3}}" style="width:200px;">
                        </div>
                        <div class="col-sm-9">                            
                            <img ng-src="{{image_source4}}" style="width:200px;">
                        </div>
                        <div class="col-sm-9">                            
                            <img ng-src="{{image_source5}}" style="width:200px;">
                        </div>
                        <div class="col-sm-9">                            
                            <img ng-src="{{image_source6}}" style="width:200px;">
                        </div>                                                  
                    </div>-->
                  </div>
                  
                  <div class="form-group">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="inputEmail" class="col-lg-2 control-label">Available</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="col-lg-10">
                             <select class="form-control" ng-model="form.status" name="status" id="status">
                                <option value="0" ng-selected="roomDetail.status == '0'">Yes</option>
                                <option value="1" ng-selected="roomDetail.status == '1'">No</option>                                
                             </select>
                            </div>
                        </div>
                    </div>                                                              
                  </div>
                                    
                 
                  <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                      <button type="reset" class="btn btn-default">Cancel</button>
                      <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Submit</button>
                    </div>
                  </div>
                </fieldset>
            </form>
        </div>
    </div>
 </div>   
    
</div>
<script>
    $(document).ready(function () {

        //remove product image from page
        $(document).on("click", ".remove_img_div", function () {
            var img_count = Number($("#img_count").val());
            img_count = Number(img_count) - 1;
            $("#img_count").val(img_count);
            $(this).closest(".row").remove();
        });

        $(document).on("click", "#add_more_image", function () {
            var img_count = Number($("#img_count").val());
            img_count = Number(img_count) + 1;
            $("#img_count").val(img_count);
            if (img_count <= 6) {                                       
                var html = '';
                html += "<div class='row'>";
                html += "<div class='col-sm-3'>";
                html += "<label for='inputEmail' class='col-lg-2 control-label'>Image"+img_count+"</label>";
                html += "</div>";
                html += "<div class='col-sm-8'>";
                html += "<div class='col-lg-11'>";
                html += "<input ng-model='form.room_image' id='image"+img_count+"' type='file' class='form-control input-lg' accept='image/*' onchange='angular.element(this).scope().uploadedFile"+img_count+"(this);' >";                
                html += "<img ng-src='{{image_source"+img_count+"}}' style='width:200px;'>";                
                html += "</div>";                
                html += "</div>";
               
                
                html += "<div class='col-sm-1'>";
                html += "<div class='col-lg-2'>";                
                html += "<div class='remove_img_div' ><i class='fa fa-times' aria-hidden='true'></i></div>";
                html += "</div>";
                html += "</div>";
                
                html += "</div>";
                
                $("#img_upload_section").append(html);
            } else {
                alert('Please Add only 6 fields.');
            }
        });
});